<mat-table [dataSource]="DayTable" class="mat-elevation-z8">
  <ng-container matColumnDef="no">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.no}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="mon">
    <mat-header-cell *matHeaderCellDef> Mon. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.mon}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="tue">
    <mat-header-cell *matHeaderCellDef> Tue. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.tue}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="wed">
    <mat-header-cell *matHeaderCellDef> Wed. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.wed}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="thu">
    <mat-header-cell *matHeaderCellDef> Thu. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.thu}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="fri">
    <mat-header-cell *matHeaderCellDef> Fri. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.fri}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="display"></mat-header-row>
  <mat-row *matRowDef="let row; columns: display;"></mat-row>
</mat-table>
